/* CSS Document */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  overflow: auto; /* Enable scrollbar */
  background-color: #FFFFFF;
}
header {
  width: 100%;
  height: 76px;
 /* border: 1px red solid;*/
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: background-color 0.3s; /* 添加过渡效果 */
}
.image1 {
  width: 50px;
  float: left;
  margin-top: 13px;
  margin-left: 100px;
}
.image2 {
  height: 30px;
  float: left;
  margin-top: 23px;
  margin-left: 10px;
}
#navanniu {
  width: 730px;
  height: 70px;
  margin: 2px 20px;
 /* border: 1px #46DB12 solid;*/
  float: right;
}
nav {
  width: 420px;
  height: 50px;
  margin: 10px 2px;
 /* border: 1px black solid;*/
  float: left;
}
nav ul {
  list-style-type: none; /*无标记符*/
  float: left;
}
nav ul li {
  line-height: 40px;
  float: left;
  margin: 5px 20px 0 20px;
}
nav ul li a {
  color: #FFFFFF; /*无序列表ul的列表项li的链接a的文本颜色将被设置为黑色，并且字体大小为20像素*/
  font-size: 18px;
}
nav ul li a:hover, nav a.linked {
  color: #46BEFF;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}
#navnow a{
	color: #46BEFF;
}
#anniu {
  width: 200px;
  height: 50px;
 /* border: 1px #AE09ED solid;*/
  margin: 10px 80px 10px 10px;
  float: right;
}
#anniu form input[type="submit"] {
  width: 70px;
  height: 35px;
  float: left;
  margin-left: 10px;
  margin-top: 9px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px #FFFFFF solid;
}
#anniu form input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.5); /*悬停*/
}
#anniu form input[type="button"] {
  width: 70px;
  height: 35px;
  float: right;
  margin-right: 10px;
  margin-top: 9px;
  color: white;
  background-color: #46BEFF;
  border: 1px #FFFFFF solid;
}
#anniu form input[type="button"]:hover {
  background-color: #64C8FF;
}
#banner_box {
  width: 1200px;
  height: 100px;
 /* border: 1px green solid;*/
  margin-top: 80px; /* 设置顶部边距 */
  margin-bottom: 0;
  margin-left: auto; /* 自动居中 */
  margin-right: auto;
}
#banner_box h2 {
  width: 220px;
  height: 40px;
  margin-top: 60px;
  float: left;
  text-align: center;
}
#chaxun {
  width: 200px;
  height: 50px;
/*  border: 1px red solid;*/
  margin: 25px;
  float: right;
}
#chaxun form input[type="search"] {
  width: 150px;
  height: 40px;
  margin-top: 5px;
  border-radius: 25px;
  border: 2px #EEEEEE solid;
  background-color: #EEEEEE;
  outline: none; /*轮廓线条属性*/
  font-size: 20px;
  padding-left: 5px;
  float: left;
}
#chaxun form input[type="search"]:hover {
  border-color: #666; /*悬停*/
}
#chaxun form input[type="search"]:focus {
  border-color: #46BEFF; /*键入*/
}
#chaxun form input[type="image"] {
  width: 38px;
  height: 38px;
  border: 2px #EEEEEE solid;
  background-color: #EEEEEE;
  color: #EEEEEE;
  border-radius: 20px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}
#chaxun form input[type="image"]:hover {
  opacity: 1;
  cursor: pointer; /*鼠标悬停形状*/
  border-color: #666;
}
#center {
  width: 1200px;
  height: auto;
 /* border: 1px blue solid;*/
  margin: 2px auto;
  display: flex; /*自适应宽度*/
}
#left {
  width: 230px;
  height: 580px;
 /* border: 1px red solid;*/
  margin: 2px;
  float: left;
  position: sticky; /*position: sticky; 属性。sticky 属性可以使 div 在滚动到一定位置时固定在特定位置。*/
  top: 130px;
}
#left ul {
  margin-top: 10px;
  list-style-type: none; /*去标志*/
  float: left;
}
#left ul li {
  width: 200px;
  height: 40px;
  margin: 3px 10px;
  border: 1px solid darkgray;
  background-color: #EEEEEE;
  display: flex;
}
#left ul li:hover {
  background-color: #1A347E;
}
#left ul li a {
  color: black;
  font-size: 16px;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#left ul li a:hover, nav a.linked {
  color: #FFFFFF;
}
#leftnow a{
	background-color: #1A347E;
	 color: #FFFFFF!important;
}
main {
  /*border: 1px red solid;*/
  margin: 2px;
	margin-right:20px;
  float: left;
  flex: 1;
  overflow: auto;
  scroll-padding-top: 200px;
}
#CSS {
  scroll-padding-top: 200px;
}
aside {
  width: 220px;
  height: 580px;
/*  border: 1px green solid;*/
  margin: 2px;
  float: right;
  position: sticky;
  top: 130px;
  /*text-align: center;*/
}
#line{
	width: 0;
	height:300px;
	margin-top: 20px;
	border:1px #929292 solid;
	float: left;
}
#aside-content{
	width:215px;
	float:left;
}
#aside-content ul li {
  margin-top: 20px;
	margin-left:30px;
}
#aside-content h1 {
  /*text-align: center;*/
  margin: 10px auto;
  margin-left: 20px;
}
#aside-bottom{
	margin-top:30px;
	float: left;
}
#aside-bottom h1 {
  /*text-align: center;*/
  margin: 10px auto;
  margin-left: 20px;
}
aside ul {
  float: left;
  list-style: circle;
}
#aside-bottom ul li {
  margin-top: 20px;
	margin-left:30px;
}
aside ul li a {
  color: black;
  font-size: 17px;
}
aside ul li a:hover, nav a.linked {
  color: #1A347E; /*当鼠标悬停在侧边栏或导航栏的链接上时，这些链接的文本颜色会变成蓝色。*/
}
footer {
  width: auto;
  height: 205px;
 /* border: 1px black solid;*/
  margin: auto;
  background: linear-gradient(to right bottom, #5B44F7, #874EFF);
}
#footer-left {
  /* width: 567px;
  height: 205px;*/
  float: left;
}
#footer-logo {
  width: 400px;
  height: 65px;
  /*border: 1px #2000FF solid;*/
  margin-top: 30px;
  margin-left: 60px;
}
#text {
  width: 380px;
  /*border: 1px #00FF9B solid;*/
  margin-top: 5px;
  margin-left: 165px;
  font-size: 13px;
  color: white;
}
#text1 {
  width: 360px;
 /* border: 1px #00C8FD solid;*/
  margin-top: 4px;
  margin-left: 2px;
  margin-bottom: 8px;
}
#text2 {
  width: 360px;
  /*border: 1px #FF00EC solid;*/
  margin-top: 5px;
  margin-left: 2px;
  margin-bottom: 2px;
}
#footer-main {
  margin-top: 55px;
  float: left;
  color: white;
  font-size: 13px;
}
#image3 {
  width: 130px;
  margin-top: 35px;
  margin-right: 180px;
  float: right;
}
#image4 {
  width: 130px;
  margin-top: 35px;
  margin-right: 100px;
  float: right;
}